# Node.js
node_modules/
npm-debug.log
yarn-error.log
.npm/
.yarn/

# Build artifacts
lib/
android/build/
android/app/build/
android/.gradle/
ios/build/
ios/Pods/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store